<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

</html>

<head>
  <meta charset="utf-8">
  <title>janken</title>
</head>


<body>
  <a href="/logout">ログアウト</a>
  <h1>Janken GAME!</h1>
  <h3>エントリー</h3>
  <div th:if="${room}">
    <ul>
      <li th:each="user : ${room.users}">[[${user}]]</li>
    </ul>
  </div>
  <div th:if="${login_user}">
    Hi [[${login_user}]]<br>
  </div>
  <div>
    <a href="/janken/Gu">ぐー</a>
    <a href="/janken/Ty">ちょき</a>
    <a href="/janken/Pa">ぱー</a>
  </div>
  <div th:if="${result}">
    あなたの手 [[${tuser}]]<br>
    相手の手 [[${tcpu}]]<br>
    結果 [[${result}]]!<br>
  </div>
</body>

</html>
