<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>janken</title>
  <script>
    window.onload = function () {
      var sse = new EventSource('/result');
      sse.onmessage = function (event) {
        var resultdata = JSON.parse(event.data);
        var result = "Match:id " + resultdata.id + " user1: " + resultdata.user1 + " user2: " + resultdata.user2 + " user1Hand: " + resultdata.user1Hand + " user2Hand: " + resultdata.user2Hand + "<br><a href=\" /janken\">もどる</a>";

        var tbody = document.getElementById("result");
        tbody.innerHTML = result;

      }
    }

  </script>
</head>


<body>
  <h1>相手の手を待ってます</h1>
  <div th:if="${user}">
    Hi [[${user}]]<br>
  </div>
  <div id="result"></div>
</body>

</html>
